body {
    overflow: hidden;
}

.container {
    margin: 0 auto;
}

.ninfo {
    height: 250px;
    width: 600px;
    margin-Top: 5%; 
    margin-left: 5%;
    margin-right: 100px;
}

.aarticles {
    display: inline-flex;
    margin-left: 10%;
}

.ffeed {
    display: inline-flex;
}


.foodSearch{
    /*background-color:  ; !* blue *!*/
    border: green;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 8px 8px;
    display: inline-block;
    font-size: 0px;
    background-color: #050505; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logo {
    float: right;
    margin: 10px;
}

.foodSearchID{
    /*background-color:  ; !* blue *!*/
    border: green;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 8px 8px;
    display: inline-block;
    font-size: 0px;
    background-color: #050505; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.foodSearchRecipe{
    /*background-color:  ; !* blue *!*/
    border: green;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 8px 8px;
    display: inline-block;
    font-size: 0px;
    background-color: #050505; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.context {
    height: 50vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.statusButton {
    background-color: #050505; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    margin-left: 8%;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: hidden;
}

.clear {
    clear: both;
}

