body {
    background-color: #58828b;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 13%;
    left: 80%;
    transform: translate(-10%, -50%);
}

.details {
    padding: 40px;
}

.row1 {
    position: static;
    padding-left: 40px;
}

.rows .pp {
    border-radius: 70px;
}

.name {
    padding: 010c;
}
