.rows{
    display: flex;
    margin-top: 2em;
    list-style: none;
}

.rows .row{
    flex: 1 1 100%;
}

.rows .row1{
    flex: 1 1 100%;
    text-align: center;
}

.image{
    border-radius: 60px;
    width: 250px;
    height: 250px;
    margin: 18px 18px;
}

.name{
    display: flex;
    margin: 18px 38px;
}
.age{
    display: flex;
    margin: 12px 38px;
}
.height{
    margin: 12px 38px;
}
.weight{
    display: flex;
    margin: 12px 38px;
}
.gender{
    display: flex;
    margin: 12px 38px;
}
.number{
    display: flex;
    margin: 12px 38px;
}
.email{
    display: flex;
    margin: 12px 38px;
}