.feed {
    position: relative;
    top: 120px; left: 40px;
    /* display: flex; */
    /* justify-content: center; */
    height: auto;
    width: 600px;
    margin: auto;
  }

.like {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-left: auto;
}

.like:focus {
  background-color: darkslateblue;
}

.entries {
  background-color: darkslategray;
  border-radius: 25px;
  
}

p {
  margin-top: 10px;
  margin: auto;
}