.form {
    background: #58828b; 
    padding: 20px;
    margin: 5px 100px 10px 5px;
  }
  
  .content {
    margin-left: 5px;
  }

  .button {
    background-color: #050505; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    overflow: hidden;
}